<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link data-th-href="@{/css/main.css?{id}(id=${timestamp})}" rel="stylesheet">
    <title th:text="${title}">CI/CD Master Class</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Ultimate CI/CD Pipeline using Java</a>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <!-- Display the title -->
        <h1 th:text="${title}">Default title.</h1>
        
        <!-- Display msg1 -->
        <p th:text="${msg1}">Default message 1.</p>
        
        <!-- Display msg2 -->
        <p th:text="${msg2}">Default message 2.</p>
    </div>
</main>

<script data-th-src="@{/js/main.js}"></script>
</body>
</html>
